<img src="@imgUrl" alt="Nasa APOD" />
<p><a href="@hdURL"> HD url</a></p>
<p>@copyright</p>

@code {
    [Parameter]
    public string imgUrl {get; set;}

    [Parameter]
    public string hdURL {get; set;}

    [Parameter]
    public string copyright {get; set;}
}